@import '~antd/dist/antd.css';

html {
  font-family: sans-serif;
  line-height: 1.15;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --antd-wave-shadow-color: #2e904e;
}


a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.87);
  margin: 0px;
}



input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}

.ant-input-search-enter-button input {
  border-right: 0;
}

.ant-input:placeholder-shown {
  text-overflow: ellipsis;
}

.ant-input-group-addon,
.ant-input-group-wrap,
.ant-input-group>.ant-input {
  display: table-cell;
}

.ant-input-group .ant-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
  text-align: inherit;
}

.ant-input-group>.ant-input:first-child,
.ant-input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ant-input-group-addon,
.ant-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}

.ant-input-group-addon {
  position: relative;
  padding: 0 11px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}

.ant-input-group-addon:last-child {
  border-left: 0;
}

.ant-input-group>.ant-input:last-child,
.ant-input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ant-input-search-enter-button+.ant-input-group-addon,
.ant-input-search-enter-button input+.ant-input-group-addon {
  padding: 0;
  border: 0;
}

.ant-input-search-enter-button+.ant-input-group-addon .ant-input-search-button,
.ant-input-search-enter-button input+.ant-input-group-addon .ant-input-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a {
  color: #40A9FF;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #2e904e;
}


#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Maven Pro";
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  height: calc(100% - 40pt);
  background: rgb(249, 250, 252);
  font-feature-settings: 'tnum';
}

/* header */
.hhDmbf {
  color: rgba(0, 0, 0, 0.87);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 30;
  background: rgb(249, 250, 252);
}

@media (min-width: 768px) {
  .hhDmbf {
    height: 53px;
    gap: 10px;
    border-bottom: 1px solid rgb(220, 224, 233);
    background: rgb(252, 255, 252);
    flex-wrap: nowrap;
  }
}

.gGaWuG {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .gGaWuG {
    gap: 10px;
    flex-wrap: nowrap;
    max-width: 1200px;
    height: 100%;
    margin: auto;
  }
}

.cxfgnQ {
  display: flex;
  gap: 10px;
}

@media (min-width: 768px) {
  .cxfgnQ {
    order: 1;
  }
}

.gUpPpB {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 46pt;
  position: relative;
}

@media (min-width: 576px) {
  .gUpPpB {
    padding: 10pt;
    min-width: 50pt;
  }
}

.fAFphR {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.fAFphR>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

svg:not(:root) {
  overflow: hidden;
}

.eofORe {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10pt;
  cursor: pointer;
  position: relative;
}

.dCAXhN {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.dCAXhN>div {
  width: 16px;
  display: block;
  overflow: hidden;
}

@media (min-width: 768px) {
  .dCAXhN>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.dvueth {
  display: flex;
  order: 3;
  width: 100%;
  padding: 24px 20px;
}

@media (min-width: 768px) {
  .dvueth {
    order: 2;
    width: auto;
    padding: unset;
  }
}

.ekjCbP {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .ekjCbP {
    width: 300px;
  }
}

@media (min-width: 1025px) {
  .ekjCbP {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .ekjCbP {
    width: 585px;
  }
}

.ant-input-group-wrapper {
  display: inline-block;
  width: 100%;
  text-align: start;
  vertical-align: top;
}

.ant-input-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.ant-btn {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 44px;
  padding: 0 47px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  border-color: #d9d9d9;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  outline: 0;
}

.ant-btn-primary {
  color: #fff;
  background-color: #2e904e;
  border-color: #2e904e;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-btn {
  padding: 0px 20px;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.ant-btn>i,
.ant-btn>span {
  display: inline-block;
  transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
  pointer-events: none;
}

.ldzGYq {
  display: flex;
  padding: 0px 7pt;
  margin-left: auto;
  order: 2;
}

@media (min-width: 768px) {
  .ldzGYq {
    order: 3;
  }
}

.bUlzUw {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10pt;
  cursor: pointer;
  position: relative;
}

.bQEYqa {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.bQEYqa>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.girgsR {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10pt;
  cursor: pointer;
  position: relative;
}

.qLQav {
  color: inherit;
}

.bUlzUw:hover,
.girgsR:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.ant-input-group .ant-input:hover {
  z-index: 1;
}

.ant-input:focus {
  border-color: #4b9c63;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgb(46 144 78 / 20%);
}

@media (max-width: 425px) {
  .eofORe {
    display: none;
  }
}


/* content */
.ehqzmb {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.bJhEAi {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.JvmDA {
  border-right: 1px solid rgb(220, 224, 233);
  background: rgb(252, 255, 252);
  position: sticky;
  top: 40pt;
  left: 0px;
  z-index: 999;
  height: calc(100vh - 55px);
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
  transform: translate3d(-100%, 0px, 0px);
}

@media (min-width: 1025px) {
  .JvmDA {
    transform: translate3d(0px, 0px, 0px);
    width: 54pt;
  }
}

.JvmDA .SideNav__StoreContainer-sc-1olbv6e-0 {
  height: 82px;
  margin: 25px 12px 16px;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .JvmDA:hover {
    width: 172pt;
  }
}


.JvmDA:hover {
  transform: translate3d(0px, 0px, 0px);
}





.hzPbem {
  width: 36pt;
  flex-shrink: 0;
  height: 36pt;
  border-radius: 50%;
  border: 1px solid rgb(220, 224, 233);
}

.cgdFUK {
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  top: 21pt;
  opacity: 0;
  left: 170pt;
}

.hEWsxw {
  transition: all 0.2s ease 0s;
  position: absolute;
  opacity: 0;
  left: 170pt;
}

.JvmDA .SideNav__StoreInfo-sc-1olbv6e-3,
.JvmDA .SideNav__SideNavHeader-sc-1olbv6e-7,
.JvmDA .SideNav__SideNavLabel-sc-1olbv6e-9 {
  opacity: 0;
}

.JvmDA:hover .SideNav__SideNavLabel-sc-1olbv6e-9 {
  opacity: 1;
  left: 55pt;
}

.eCcCfA {
  display: block;
  background-color: transparent;
  border: none;
  color: rgb(47, 144, 79);
  padding: 0px;
}

.JvmDA:hover .SideNav__StoreInfo-sc-1olbv6e-3 {
  opacity: 1;
  left: 55pt;
}

.fIWmmy {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .fIWmmy {
    width: 140px;
  }
}

.bcdqqA {
  color: rgba(0, 0, 0, 0.54);
  white-space: pre-wrap;
  margin: 8px 0px 16px;
  font-size: 14px;
}

.dkdqOG {
  transition: all 0.3s ease-in 0s;
  padding: 8pt 10pt;
  white-space: nowrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.dkdqOG,
.dkdqOG:visited {
  border-left-color: transparent;
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
}

.dkdqOG.active,
.dkdqOG:hover {
  background-color: rgba(47, 144, 79, 0.2);
  color: rgb(47, 144, 79);
}

.JvmDA .SideNav__StyledLink-sc-1olbv6e-12 {
  padding: 10pt 10pt 10pt 14pt;
}

.fnJzpo {
  position: absolute;
  left: 0px;
  width: 4px;
  height: 46px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
}

.dkdqOG.active .SideNav__SideNavItemBorderLeft-sc-1olbv6e-11,
.dkdqOG:hover .SideNav__SideNavItemBorderLeft-sc-1olbv6e-11 {
  background-color: rgb(47, 144, 79);
}

.cuNvox {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 24pt;
  height: 24pt;
  transition: all 0.2s ease 0s;
}

.cuNvox>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.ckiOBb {
  transition: all 0.2s ease 0s;
  position: absolute;
  opacity: 0;
  left: 170pt;
}

.JvmDA .SideNav__StoreInfo-sc-1olbv6e-3,
.JvmDA .SideNav__SideNavHeader-sc-1olbv6e-7,
.JvmDA .SideNav__SideNavLabel-sc-1olbv6e-9 {
  opacity: 0;
}

.bulZNJ {
  margin-top: 107.25pt;
  margin-left: 0px;
  position: relative;
  padding-top: 0px;
  transition: margin-left 0.3s ease-in-out 0s;
  background: rgb(249, 250, 252);
  min-height: calc(100vh - 80pt);
}

@media (min-width: 768px) {
  .bulZNJ {
    margin-top: 40pt;
    padding: 0px 10pt 10pt;
  }
}

@media (min-width: 1025px) {
  .bulZNJ {
    margin-left: 54pt;
  }
}

.gBILlt {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .gBILlt {
    flex-direction: row;
  }
}

.gADwkc {
  width: 50pt;
  height: 70pt;
}

@media (min-width: 1025px) {
  .gADwkc {
    width: 122pt;
    height: auto;
  }
}

.kZalnp {
  position: sticky;
  top: 40pt;
  left: 0px;
  margin-left: -10pt;
  overflow: visible;
  z-index: 1;
  display: flex;
  transition: left 0.3s ease-in-out 0s;
}

@media (min-width: 1025px) {
  .kZalnp {
    z-index: 20;
    top: 100pt;
  }
}


.eImZgp {
  border-collapse: collapse;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 6px;
}

@media (min-width: 1025px) {
  .eImZgp {
    flex-direction: column;
    background: transparent;
    width: auto;
  }
}

.ant-menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: 'tnum';
  margin-bottom: 0;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.87);
  line-height: 0;
  list-style: none;
  background: #fff;
  outline: none;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  transition: background .3s, width .2s;
  zoom: 1;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 1px solid #e8e8e8;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  box-shadow: none;
}

@media (min-width: 1025px) {
  .eImZgp .ant-menu-vertical {
    border-right: none;
  }
}

.eImZgp .ant-menu {
  border-radius: 6px;
  font-weight: 400;
}

.ant-menu::before,
.ant-menu::after {
  display: table;
  content: '';
}

.ant-menu-submenu,
.ant-menu-submenu-inline {
  transition: border-color .3s cubic-bezier(.645, .045, .355, 1), background .3s cubic-bezier(.645, .045, .355, 1), padding .15s cubic-bezier(.645, .045, .355, 1);
}

.jpyfpc {
  transition: all 0.3s ease 0s;
}

.ant-menu-vertical .ant-menu-submenu,
.ant-menu-vertical-left .ant-menu-submenu,
.ant-menu-vertical-right .ant-menu-submenu,
.ant-menu-inline .ant-menu-submenu {
  padding-bottom: 0.02px;
}

.ant-menu-item,
.ant-menu-submenu-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;
  transition: color .3s cubic-bezier(.645, .045, .355, 1), border-color .3s cubic-bezier(.645, .045, .355, 1), background .3s cubic-bezier(.645, .045, .355, 1), padding .15s cubic-bezier(.645, .045, .355, 1);
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  font-size: 14px;
  line-height: 40px;
  text-overflow: ellipsis;
}

.jpyfpc .ant-menu-submenu-title {
  color: rgba(0, 0, 0, 0.85);
  padding: 0px !important;
}

.ant-menu-vertical>.ant-menu-item,
.ant-menu-vertical-left>.ant-menu-item,
.ant-menu-vertical-right>.ant-menu-item,
.ant-menu-inline>.ant-menu-item,
.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  height: 40px;
  line-height: 40px;
}

.eImZgp .ant-menu .ant-menu-submenu-title {
  height: auto;
  padding: 4pt;
  line-height: 26px;
  font-weight: 400;
}

.ant-menu-submenu-title.ant-menu-submenu-title.ant-menu-submenu-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.jpyfpc a {
  background: white;
  transition: background-color 0.3s ease 0s;
}

.jpyfpc:first-of-type a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.jpyfpc .ant-menu-submenu-title a {
  padding: 12px;
  color: inherit;
  display: block;
}

.BLWCH {
  min-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  color: inherit;
}

@media (min-width: 1025px) {
  .BLWCH {
    display: flex;
  }
}

.bYInAU {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 24pt;
  height: 24pt;
  margin: auto;
}

.bYInAU>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.yAMyG {
  text-align: left;
  font-size: 14px;
  flex: 1 1 0%;
}

@media (min-width: 1025px) {
  .yAMyG {
    margin-left: 16px;
  }
}

.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow,
.ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow,
.ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow,
.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 10px;
  transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

.eImZgp .ant-menu .ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}

.ant-menu-submenu,
.ant-menu-submenu-inline {
  transition: border-color .3s cubic-bezier(.645, .045, .355, 1), background .3s cubic-bezier(.645, .045, .355, 1), padding .15s cubic-bezier(.645, .045, .355, 1);
}

.ant-menu-submenu-popup {
  position: absolute;
  z-index: 1050;
  background: #fff;
  border-radius: 4px;
}

.jZGjvL {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: calc(100vh - 90px);
}

.ftYIQd {
  min-height: calc(100vh - 246px);
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 2px;
  border-radius: 4px;
  padding: 12px;
}

@media (min-width: 768px) {
  .ftYIQd {
    padding: 24px;
    min-height: calc(100vh - 155px);
  }
}

.fVgVuB {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
}

.jTfioR {
  color: rgb(51, 51, 51);
  font-weight: 600;
  font-size: 22px;
  margin: 0px;
  line-height: 26px;
}



.eUijMD.ant-row {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}



.eUijMD>.ant-col:not(:last-child) {
  border-bottom: 1px solid rgb(220, 224, 233);
}

@media (min-width: 768px) {
  .eUijMD>.ant-col:not(:last-child) {
    border-bottom: none;
  }
}

.gpLETI {
  background-color: rgb(252, 255, 252);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border: none;
  height: 100%;
}

@media (min-width: 768px) {
  .gpLETI {
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 2px;
  }
}

.jRvebg {
  pointer-events: auto;
  cursor: pointer;
  height: 100%;
}

.hZWvVs {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

@media (min-width: 768px) {
  .hZWvVs {
    flex-direction: column;
  }
}

.ant-btn-circle,
.ant-btn-circle-outline {
  min-width: 44px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}

.hrXIPJ {
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  z-index: 2;
  box-shadow: none;
  border: none;
  top: 8px;
  bottom: auto;
  right: 8px;
  min-width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .hrXIPJ {
    top: 16px;
    right: 16px;
  }
}

.ant-btn>a:only-child {
  color: currentColor;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.cCZxdL {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 16px;
}

.cCZxdL>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.cCZxdL path {
  fill: rgb(255, 255, 255);
}

.hrXIPJ .Favorite__FavoriteIcon-tn0i37-0 path {
  fill: rgb(180, 180, 180);
}

.kVlklV {
  position: relative;
  /* padding: 8px 0px 0px 8px; */
  width: 100px;
}

@media (min-width: 768px) {
  .kVlklV {
    width: 100%;
    padding: 0px;
  }
}

.kgJdMp {
  padding-bottom: 100%;
  position: relative;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

img {
  vertical-align: middle;
  border-style: none;
}

.kcjXoq {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .kcjXoq {
    padding: 8px;
    border-radius: 10px;
  }
}

.kgJdMp img {
  transition: transform 0.3s ease-out 0s;
}

.cfFbiK {
  position: absolute;
  bottom: 0px;
  right: 0px;
  gap: 4px;
  flex-direction: column;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .cfFbiK {
    bottom: 16px;
  }
}

.cMtGcM {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: auto;
  padding: 8px;
  height: 100%;
}

.kvvVZC {
  margin-bottom: 5px;
  padding-right: 36px;
}

@media (min-width: 768px) {
  .kvvVZC {
    margin-bottom: 12px;
    padding-right: 0px;
  }
}

.ekhIHk {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 18px;
  height: auto;
  color: rgb(89, 89, 89);
}

.kUescO {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.kfgZzF {
  height: 36px;
}

.hdfLLI {
  color: rgb(89, 89, 89);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.TkwlX {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.hkVFdU {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 4px;
}

.zgsGq {
  flex: 1 1 0%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.bZBNJq {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0px;
  color: rgb(47, 144, 79);
  font-size: 12px;
}

.ant-btn-link>a:only-child {
  color: currentColor;
}

.ant-btn-link>a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: '';
}

@media (hover: hover) {
  .gpLETI .QuantityInput__QuantityInputContainer-sc-1nd1l3z-0 {
    transition: all 0.2s ease-in-out 0s;
  }
}

.cnWqKW {
  background-color: rgb(250, 250, 250);
  border-radius: 25px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  white-space: nowrap;
  height: 32px;
}

.ant-btn-icon-only.ant-btn-sm {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 14px;
  border-radius: 4px;
}

.ant-btn-round.ant-btn-sm {
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 32px;
}

.ant-btn-round.ant-btn-icon-only {
  width: auto;
}

.hkvVgv.ant-btn-round {
  padding: 0px 15px;
  border-radius: 50%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px !important;
  height: 32px !important;
}

.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-btn>i,
.ant-btn>span {
  display: inline-block;
  transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
  pointer-events: none;
}

.hkvVgv i {
  color: rgb(84, 164, 110);
}

.ant-btn>.anticon {
  line-height: 1;
}

.ant-btn .anticon {
  transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
}

.anticon svg {
  display: inline-block;
}

.anticon>* {
  line-height: 1;
}

.ant-btn .anticon.anticon-plus>svg,
.ant-btn .anticon.anticon-minus>svg {
  shape-rendering: optimizeSpeed;
}

.ant-btn .anticon.anticon-plus>svg,
.ant-btn .anticon.anticon-minus>svg {
  shape-rendering: auto;
}

.hCeYQQ {
  width: 30pt;
  box-sizing: border-box;
  text-align: center;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

.eYEupy.ant-btn-round {
  padding: 0px 15px;
  border-radius: 50%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px !important;
  height: 32px !important;
}

.eYEupy i {
  color: rgb(71, 172, 104);
}

.cfFbiK {
  position: absolute;
  bottom: 0px;
  right: 0px;
  gap: 4px;
  flex-direction: column;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .cfFbiK {
    bottom: 16px;
  }
}

.ant-tag,
.ant-tag a,
.ant-tag a:hover {
  color: white;
}

.jRrzYj.ant-tag {
  background: rgb(64, 169, 255);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-right: 0px;
  padding: 2px;
  border-radius: 4px 0px;
}

@media (min-width: 768px) {
  .jRrzYj.ant-tag {
    padding: 4px;
    font-size: 14px;
    border-radius: 4px 0px 0px 4px;
  }
}

.ant-pagination {
  margin-top: 24px;
}

.ant-pagination-item-active a {
  color: #2e904e;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #2e904e;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #2e904e;
  transition: all .3s;
}

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #2e904e;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #2e904e;
  border-color: #2e904e;
}

.ant-btn:hover,
.ant-btn:focus {
  color: #4b9c63;
  background-color: #fff;
  border-color: inherit;
}
.bZBNJq:hover{
  border-color: #fff;
}
.JvmDA.opened {
  transform: translate3d(0px, 0px, 0px);
}

.JvmDA.opened .SideNav__StoreInfo-sc-1olbv6e-3 {
  opacity: 1;
  left: 60pt;
}

.JvmDA.opened .SideNav__SideNavLabel-sc-1olbv6e-9 {
  opacity: 1;
  left: 55pt;
}
@media (min-width: 1025px)
{
.JvmDA {
    transform: translate3d(0px, 0px, 0px);
    width: 54pt;
}}
@media (min-width: 1025px) {
  .JvmDA.opened {
    width: 172pt;
  }
}

@media (max-width:834px){
  .kZalnp{
    overflow: auto;
    width: 100vw;
    z-index: 1;
    background: white;
    display: flex;
    transition: left 0.3s ease-in-out 0s;
    cursor: pointer;
  }
  .jpyfpc .ant-menu-submenu-title a{
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    padding: 10px 15px;
    min-width: 60px;
  }
  .jpyfpc .ant-menu-submenu-title.selected a{
    background-color: rgba(47, 144, 79, 0.2);
    color: rgb(47, 144, 79);
  }
  ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .gADwkc{
    display: none;
  }
}


/* homepage */
.kAkMuC {
  display: grid;
  padding: 16px 16px 0px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 16px;
  border-radius: 4px;
}
.cMedBm {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.eYhdLP {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1px;
}
.enmLXv {
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 2px;
  margin: 0px 16px 24px 0px;
  flex: 0 0 180px;
  max-width: 180px;
}
@media (min-width: 768px)
{
.enmLXv {
    box-shadow: none;
}}
.gpLETI {
  background-color: rgb(252, 255, 252);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border: none;
  height: 100%;
}
@media (min-width: 768px)
{
.gpLETI {
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 2px;
}}
.jRvebg {
  pointer-events: auto;
  cursor: pointer;
  height: 100%;
}
.dzitPw {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
@media (min-width: 768px)
{
.dzitPw {
    flex-direction: column;
}}
.bvDydT.ant-tag {
  background: rgb(255, 72, 82);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-right: 0px;
  padding: 2px;
  border-radius: 4px 0px;
}

@media (min-width: 768px)
{
.bvDydT.ant-tag {
    padding: 4px;
    font-size: 14px;
    border-radius: 4px 0px 0px 4px;
}}
.bvDydT.ant-tag.discount-tag {
  border: none;
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 768px)
{
.bvDydT.ant-tag.discount-tag {
    top: 16px;
}}
@media (max-width:768px) {
  .kAkMuC{
    padding:0
  }
}